<%- include('../templates/header') %>
<%- include('../templates/navbar') %>

<div class="container mt-5">
    <div class="d-flex flex-column align-items-center">
        <h1>Création d'un post</h1>

        <% if (error !== null) { %>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
            <% } %>

        <form action="/posts/add" method="POST">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
                <label for="title">Contenu</label>
                <textarea class="form-control" name="content"  cols="30" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3 mx-auto">Enregistrer</button>
        </form>
    </div>
</div>
<%- include('../templates/footer') %>
